Package: luckyGeek
Version: 0.510
Section: misc
Priority: extra
Architecture: all
Depends:
Installed-Size: 16000000
Maintainer: ctvoigt <ctvoigt@verpeil.de>
Homepage: https://sourceforge.net/p/luckygeek/
Description: Ein Tool mit dem RSS-Feeds (Comics) gedownloaded und gemerged werden können. Merges comics of an Atom Feed. Please use .tar.bz release instead of .deb - this .deb is only for testing the installation processW!
